<network>
  <name>{{ network_name }}</name>
  <bridge name='{{ bridge_name }}' stp='off' delay='0'/>
  <ip address='{{ bridge_ip }}' netmask='{{ bridge_netmask }}'>
{% if use_dhcp | default(false) %}
    <dhcp>
        <range start='{{ dhcp_range_start | default(bridge_ip | ansible.utils.ipmath(1)) }}' end='{{ dhcp_range_end | default((bridge_ip + '/' + bridge_netmask) | ansible.utils.ipaddr('network') | ansible.utils.ipaddr('-2'))}}'/>
    </dhcp>
{% endif %}
  </ip>
</network>